
$color: #73af04;
$colorb: white;
$colorc: black;
$colord: #FC4C02;
$colore: red;
$family: Arial, sans-serif;

h1, h2, h3, h4, h5, h6 {color: $color; font-family: $family; font-weight: bold;}

h1, h2, H3, H6, {text-align: center;}

h4, h5 {text-align: left; line-height: 2}

  p {
    background-color: $colorb;
    color: $colorc;
    text-align: justify;
    font-family: $family;
    line-height: 2;
    white-space: pre-line;}

  body {margin: 3%;}

  #green {color: $color; font-weight: normal; display: inline; white-space: pre-line;}

  ol {
    color: $colorc;
    text-align: justify;
    font-family: $family;
    line-height: 2}

  ul {
    color: $colorc;
    text-align: justify;
    font-family: $family;
    line-height: 2}

  %table
    {
    background-color: $color;
    color: white;
    height: 30px; width: 100%;
    padding: 4px;
    font-family: $family;
    text-align: center;
    vertical-align: middle;
      }

    .table1{@extend %table; font-size: 12pt; font-weight: bold;}
    .table2{@extend %table; font-size: 9pt}


  form  {width: 50%; align-content: center; font-family: $family; white-space: pre-line;}
        ::placeholder {color: $color; font-size: 9pt;}
        #form {color: $color; font-weight: bold; display: inline;}

      a.one:link, a.one:visited {color:$colorb; text-decoration: none;}
      a.one:hover {color:$colorc; text-decoration: none;}
      a.two:link, a.two:visited, a.two:hover {color:$colorc;text-decoration: none;}
      a.three:link, a.three:visited, a.three:hover {color:$color;text-decoration: underline;}
      a.four:link, a.four:visited, a.four:hover {color:$colord;text-decoration: underline;}

      @media screen {
        .noPrint{}
        .noScreen{display:none;}
          }

      @media print {
        .noPrint{display:none;}
        .noScreen{}
          }

    .container {
      background-color: $colorb;
      color: $colorc;
      text-align: center;
      font-family: $family;
      font-size:14px;
      padding: 10px;
      width: 100%;
      white-space: pre-line;
      font-weight: bold;
      }

      %button {
        height: auto; width: auto;
        padding: 5px;
        font-family: $family;
        font-weight: bold;
        }

      .button1 {@extend %button; font-size: 12pt; font-weight: bold; background-color: $color;}
      .button2 {@extend %button; font-size: 9pt; background-color: $colore; color:$colore;}
